*.pyc
testing_script_v1.ipynb
inputs/CT/*
inputs/*
inputs/config.json
.DS_Store
/inputs/config.json
post_processing_script.ipynb
TDT_Output*/
TDT_Output*
testing.ipynb
post_process/
testing*
for_analysis*

